<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.gree.tiny.modules.admin.mapper.GreeRoleResourceRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.gree.tiny.modules.admin.model.GreeRoleResourceRelation">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="resource_id" property="resourceId" />
    </resultMap>

</mapper>
